<div>
    <h1>Timeular</h1>
        <table>
            <tr>
                <td>
                    Class/Learning:
                </td>
                <td>
                    {{activity_list.Class_Learning}} hours
                </td>
            </tr>
            <tr>
                <td>
                    Coding:
                </td>
                <td>
                    {{activity_list.Coding}} hours
                </td>
            </tr>
            <tr>
                <td>
                    Misc Nonproductive:
                </td>
                <td>
                    {{activity_list.Misc_Nonproductive}} hours
                </td>
            </tr>
            <tr>
                <td>
                    Misc Prod:
                </td>
                <td>
                    {{activity_list.Misc_Prod}} hours
                </td>
            </tr>
            <tr>
                <td>
                    Morning Routine:
                </td>
                <td>
                    {{activity_list.Morning_Routine}} hours
                </td>
            </tr>
            <tr>
                <td>
                    Projects:
                </td>
                <td>
                    {{activity_list.Projects}} hours
                </td>
            </tr>
            <tr>
                <td>
                    Resume & Job Apps:
                </td>
                <td>
                    {{activity_list.Resume_&_Job_Apps}} hours
                </td>
            </tr>
            <tr>
                <td>
                    Work Out:
                </td>
                <td>
                    {{activity_list.Work_Out}} hours
                </td>
            </tr>
        </table>
        <h3>
        <b>Currently tracking:</b> {{current_activity}} <br>
        <b>Weekly productive hours:</b> {{current_weekly_prod_hours}}/{{weekly_prod_hour_goal}}
        </h3>
</div>