<div>
    <h1>Nike Run Club</h1>
        <h3><b>Latest calories</b> {{latest_calories}}</h3>
        
        <h3><b>Latest miles</b> {{latest_miles}}</h3>

        <h3><b>Total calories</b> {{total_calories}}</h3>

        <h3><b>Total miles</b> {{total_miles}}</h3>
</div>