<div class="split right_pane">Right
    <h1>Nike Run Club</h1>
        <h2>Latest calories</h2>
        <p> {{latest_calories}} </p>
        
        <h2>Latest miles</h2>
        <p> {{latest_miles}} </p>

        <h2>Total calories</h2>
        <p> {{total_calories}} </p>

        <h2>Total miles</h2>
        <p> {{total_miles}} </p>
</div>